{% extends "base.html" %}

{% block title %}Sign in to At Homes{% endblock %}

{% block content %}
    <div class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
<!-- Remember me
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
  -->
      <button name="Login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
 </div>
{% endblock %}
